//- INFO --
//- INFO --

//- INFO --
//- INFO --


doctype html
html(lang='en')
    // Copyright (C) 2015 - 2016 Peter Varo. All rights reserved.
    head
        meta(charset='utf-8')
        meta(name    = 'description'
             content = 'offsetof(blog, programming)')
        meta(name    = 'keywords'
             content = 'peter,varo,petervaro,developer,designer,github,'     +
                       'stackoverflow,offsetof,sketchandprototype,C,python,' +
                       'py,javascript,js,go,rust,c++,cpp,cxx,software,bash,' +
                       'sh,haskell,unix,linux,free,open,source,cv,resume')
        meta(name    = 'Author'
             content = 'Peter Varo')
        title offsetof()
        link(rel  = 'shortcut icon'
             type = 'image/x-icon'
             href = 'favicon.ico')
        link(rel  = 'icon'
             type = 'image/x-icon'
             href = 'favicon.ico')
        link(rel  = 'stylesheet'
             type = 'text/css'
             href = 'css/index.css')
    body
        div#content
            div#title offsetof
            div#quote
                | C&rsquo;s
                = ' '
                span.code offsetof()
                = ' '
                | macro is an ANSI C library feature found in
                = ' '
                span.code stddef.h
                = ' '
                | .It evaluates to the offset (in bytes) of a given member
                | within a
                = ' '
                span.code struct
                = ' '
                | or
                = ' '
                span.code union
                = ' '
                | type, an expression of type
                = ' '
                span.code size_t.
                br/
                | &mdash;
                = ' '
                a(href   = 'http://en.wikipedia.org/wiki/Offsetof'
                  target = '_blank')
                    | wikipedia
            div#notes Coming soon!
